<footer class="ud-footer">
  <div class="ud-footer__interior">
    <div class="ud-footer__marca">
      <a class="ud-footer__logo" href="/">
        <img
          src="/assets/img/marca/ultradeck-white.svg"
          alt="Ultra Deck"
          width="1869"
          height="491"
        />
      </a>
      <p class="ud-footer__frase">
        Más de 35 años diseñando, fabricando e instalando techos metálicos
        para naves industriales en todo México.
      </p>
      <button
        class="ud-boton ud-boton--flecha"
        type="button"
        data-abrir-cotizacion
      >
        Solicitar cotización
        <span class="ud-boton__flecha" aria-hidden="true"></span>
      </button>
    </div>

    <nav class="ud-footer__navegacion" aria-label="Mapa del sitio">
      <div class="ud-footer__columna">
        <h2 class="ud-footer__titulo">Construcción</h2>
        <ul class="ud-footer__lista">
          <li>
            <a class="ud-footer__enlace" href="/construccion/techos-metalicos/"
              >Techos metálicos</a
            >
          </li>
          <li>
            <a class="ud-footer__enlace" href="/construccion/estructura-metalica/"
              >Estructura metálica</a
            >
          </li>
          <li>
            <a class="ud-footer__enlace" href="/construccion/muros-y-fachadas/"
              >Muros y fachadas</a
            >
          </li>
          <li>
            <a class="ud-footer__enlace" href="/construccion/domos-e-iluminacion/"
              >Domos e iluminación natural</a
            >
          </li>
        </ul>
      </div>

      <div class="ud-footer__columna">
        <h2 class="ud-footer__titulo">Mantenimiento</h2>
        <ul class="ud-footer__lista">
          <li>
            <a
              class="ud-footer__enlace"
              href="/mantenimiento/techos-industriales/"
              >Techos industriales</a
            >
          </li>
          <li>
            <a
              class="ud-footer__enlace"
              href="/mantenimiento/canalones-y-bajantes/"
              >Canalones y bajantes</a
            >
          </li>
        </ul>
      </div>

      <div class="ud-footer__columna">
        <h2 class="ud-footer__titulo">Empresa</h2>
        <ul class="ud-footer__lista">
          <li><a class="ud-footer__enlace" href="/proyectos/">Proyectos</a></li>
          <li><a class="ud-footer__enlace" href="/nosotros/">Nosotros</a></li>
          <li><a class="ud-footer__enlace" href="/blog/">Blog</a></li>
        </ul>
      </div>
    </nav>

    <div class="ud-footer__columna ud-footer__columna--contacto">
      <h2 class="ud-footer__titulo">Contacto</h2>
      <address class="ud-footer__domicilio">
        Priv. Juan Escutia 115, Col. Niños Héroes, C.P. 66052, General Escobedo,
        N.L.
      </address>
      <ul class="ud-footer__lista">
        <li>
          <a class="ud-footer__enlace" href="tel:+528181900884"
            >+52 81 8190 0884</a
          >
        </li>
        <li>
          <a class="ud-footer__enlace" href="tel:+528181900888"
            >+52 81 8190 0888</a
          >
        </li>
        <li>
          <a class="ud-footer__enlace" href="mailto:contacto@ultradeck.com.mx"
            >contacto@ultradeck.com.mx</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="ud-footer__legal">
    <p class="ud-footer__derechos">© [año] Ultra Deck, S.A. de C.V.</p>
    <a class="ud-footer__enlace" href="/aviso-de-privacidad/"
      >Aviso de privacidad</a
    >
  </div>
</footer>
