<header class="ud-header">
  <div class="ud-header__interior">
    <a class="ud-header__logo" href="/">
      <img
        src="/assets/img/marca/ultradeck-white.svg"
        alt="Ultra Deck"
        width="1869"
        height="491"
      />
    </a>

    <button
      class="ud-header__menu"
      type="button"
      aria-expanded="false"
      aria-controls="menu-principal"
    >
      <span class="ud-header__menu-icono" aria-hidden="true"></span>
      <span class="ud-oculto-visual">Menú</span>
    </button>

    <div class="ud-header__panel" id="menu-principal">
      <nav class="ud-nav" aria-label="Principal">
        <ul class="ud-nav__lista">
          <li class="ud-nav__grupo">
            <a class="ud-nav__enlace" href="/construccion/">Construcción</a>
            <button
              class="ud-nav__disparador"
              type="button"
              aria-expanded="false"
              aria-controls="submenu-construccion"
            >
              <span class="ud-nav__caret" aria-hidden="true"></span>
              <span class="ud-oculto-visual">Ver páginas de Construcción</span>
            </button>
            <ul class="ud-nav__submenu" id="submenu-construccion">
              <li>
                <a
                  class="ud-nav__enlace ud-nav__enlace--submenu"
                  href="/construccion/techos-metalicos/"
                  >Techos metálicos</a
                >
              </li>
              <li>
                <a
                  class="ud-nav__enlace ud-nav__enlace--submenu"
                  href="/construccion/estructura-metalica/"
                  >Estructura metálica</a
                >
              </li>
              <li>
                <a
                  class="ud-nav__enlace ud-nav__enlace--submenu"
                  href="/construccion/muros-y-fachadas/"
                  >Muros y fachadas</a
                >
              </li>
              <li>
                <a
                  class="ud-nav__enlace ud-nav__enlace--submenu"
                  href="/construccion/domos-e-iluminacion/"
                  >Domos e iluminación natural</a
                >
              </li>
              <li>
                <a
                  class="ud-nav__enlace ud-nav__enlace--submenu"
                  href="/mantenimiento/canalones-y-bajantes/"
                  >Canalones y bajantes</a
                >
              </li>
            </ul>
          </li>

          <li class="ud-nav__grupo">
            <a class="ud-nav__enlace" href="/mantenimiento/">Mantenimiento</a>
            <button
              class="ud-nav__disparador"
              type="button"
              aria-expanded="false"
              aria-controls="submenu-mantenimiento"
            >
              <span class="ud-nav__caret" aria-hidden="true"></span>
              <span class="ud-oculto-visual">Ver páginas de Mantenimiento</span>
            </button>
            <ul class="ud-nav__submenu" id="submenu-mantenimiento">
              <li>
                <a
                  class="ud-nav__enlace ud-nav__enlace--submenu"
                  href="/mantenimiento/techos-industriales/"
                  >Techos industriales</a
                >
              </li>
              <li>
                <a
                  class="ud-nav__enlace ud-nav__enlace--submenu"
                  href="/mantenimiento/canalones-y-bajantes/"
                  >Canalones y bajantes</a
                >
              </li>
            </ul>
          </li>

          <li class="ud-nav__grupo">
            <a class="ud-nav__enlace" href="/proyectos/">Proyectos</a>
          </li>
          <li class="ud-nav__grupo">
            <a class="ud-nav__enlace" href="/nosotros/">Nosotros</a>
          </li>
        </ul>
      </nav>

      <button
        class="ud-boton ud-boton--flecha ud-header__cta"
        type="button"
        data-abrir-cotizacion
      >
        Solicitar cotización
        <span class="ud-boton__flecha" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</header>
